@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background: #0f0e0ec2; */
    /* background: radial-gradient(circle at center, #0c0032, #1f004d, #1a0037, #000000); */
    background: linear-gradient(to bottom, #565555, #2e2e2e, #0f0e0ec2);
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    /* background-image: url(https://e1.pxfuel.com/desktop-wallpaper/375/709/desktop-wallpaper-cool-backgrounds-unique-cool-backgrounds-7ea-unique-background.jpg); */
    color: #fff;

    
    /* Đảm bảo trang chiếm toàn bộ chiều cao trình duyệt */
    min-height: 100vh;
    margin: 0;
}

input, textarea {
    color: #000;
}

.logo-slider-container {
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 0;
    background-color: white; /* Adjust background color as needed */
    position: relative;
  }
  
  .logo-slider {
    display: flex;
    animation: slide 35s linear infinite;
  }
  
  .logo-track {
    display: flex;
    width: 200%;
  }
  
  .slide {
    display: flex;
    flex-shrink: 0;
  }
  
  .logo-slider img {
    height: 75px;
    margin: 0 20px;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    25% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(-50%);
    }  
    100% {
      transform: translateX(-100%);
    }
  }
  
  

  